*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
.profile-pic{

    border-radius: 50%;
    height: 15rem;
    width: 14rem;
    background-color: lightslategrey;
}

 .programIcons{
    height: fit-content;
    width: fit-content;
    aspect-ratio: 3/2;
    object-fit: contain;
    height: 80px;

    border-radius: 20%;
    background-color: lightslategrey;
    padding: 10px;
} 
.tableHeader{
     align-items: center;
}
/* .table-primary{
    width: fit-content;
    justify-content: center;
    align-items: center;
} */
/* .sobreMi{
    justify-content: center;
    align-items: center;

} */
tr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tecnologias {
    text-align: center;
    justify-content: center;
}
header{
    color: black;
    font-size: x-large;
}


.experiencia{
    display: inline-block;
    justify-content: center;
}


html{
    height: 100%;
}
body{
    background-color: #395575;
    min-height: 100%;
}

.navbar-letter{
    color: white;
}
.back-color{
    background-color: black;
}
.navbar-toggler{
    color: white;
}
