*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
html{
    height: 100%;
}
body{
    background-color: #023A4D;
    min-height: 100%;
}
.navbar{
    background-color:black ;
    justify-content: center;
}
.navlist{
    display: inline-flex;
    list-style: none;
}
.nav-item{
    padding-left: 15px;
    padding-top: 15px;
}
.aside-grid{
    grid: aside-grid;
    background-color: #242F33;
}
.main{
    grid: main;
    text-align: center;
    min-height: 300px;
}
.footer-grid{
    grid-area: footer-grid;
    background-color: black;
}
.body-grid{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: max-content;
    grid-template-areas:
    "aside-grid main"
    "footer-grid footer-grid"
    ;
}
